@use 'variaveis';

.carousel-box {
    position: relative;
    min-width: 590px;
    display: flex;
    margin-left: 60px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;

    &__carousel {
        position: relative;
        height: 150px;
        perspective: 1500px;

        &__item {
            width: 250px;
            cursor: pointer;

            &__img {
                max-width: 235px;
                border-radius: 10px;
                transform: translateX(8px) translateY(-100px);
                object-fit: cover;
                object-position: center;
            }
        }
    }
}